{% extends "base.html" %}

{% block content %}

<h1> Aur bataao {{ user.username }}</h1>
<h1> Ghar ka pata  -- {{ user.address }}</h1>


{% for post in posts %}
<div>
    <p>
        {{ post.author.username }} --> <b> {{ post.body }} </b>
    </p>
</div>
{% endfor %}
<style type="text/css">
		div.a {
	  
	  -moz-text-align-last: justify; /* For Firefox prior 58.0 */
	}
</style>
		<footer>
			<form action="" method="post" novalidate>
		    <div class="a">
		    <p>
		        {{ msg.message.label }} : 
		        {{ msg.message }}

		        {{ msg.send() }}
		    </p>
		    </div>
		</form>
		</footer>

{% endblock %}